/* import fonts and css peices */
@import 'https://fonts.googleapis.https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,500i,600,600i,700,700i|Raleway:800,800i,900,900i&display=swap/css?family=Open+Sans:400,400i,700,700i&display=swap';
@import 'https://fonts.googleapis.com/css?family=Catamaran&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
@import 'typography.css';
@import 'header.css';
@import 'footer.css';
@import 'index.css';
@import 'post.css';

/* universal layout styles */
html,
body {
  margin: 0;
  height: 100%;
}

.site-container {
  display: grid;
  grid-template-rows: 100px 1fr auto;
  justify-items: center;
  height: 100%;
}

@media only screen and (max-width: 865px) {
  .site-container {
    grid-template-rows: auto 1fr auto;
  }
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
}

.grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 25px;
  width: 90%;
  max-width: 1200px;
}

@media only screen and (max-width: 865px) {
  .grid-wrap {
    grid-template-columns: 1fr;
  }
}